body {
    background-color: #eceeef;
}

.fondo{
    background: #fff;
    background-image: url(../image/principal.jpg);
    background-size: 100% 400px;
    background-repeat:no-repeat;
    height: 400px;
    position: relative;
    border: 1px solid;
}
.fondotexto{
    background: #fff;
}

iframe {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.titulo{
  text-align:center;
  font-size:20px;
}

.textocontenido{
  font-size:16px;
  margin-left:10%;
  margin-right:10%;
}